* {
    box-sizing: border-box;
}

/* :root {
    --color-bg-base: rgb(196, 196, 230);
} */

body {
    height: 700px;
    margin: 0px;
}

.container {
    display: flex;
    height: 100%;
}

aside {
    display: block;
    width: 35%;
    background-image: url(./../images/plant.avif);
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: block;
    width: 65%;
}
