* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

/* :root {
    --color-bg-base: rgb(196, 196, 230);
} */

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

aside {
    display: block;
    width: 35%;
    background-image: url(./../images/plant.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: block;
    width: 65%;
}

main .introduction {
    height: 30%;
}

main .form-container {
    height: 40%;
}

main .account {
    height: 30%;
}
