* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --color-bg-base: rgb(247 247 247);
    --color-bg-dark: rgba(6, 7, 8, 0.59);
    --color-text-white: rgb(241, 233, 233);
    font-size: 3vh;
}

a {
    color: inherit;
}

a:link, a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
}

aside {
    display: block;
    position: relative;
    width: 35%;
    color: var(--color-text-white);
    background-image: url(./../images/plant.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

aside .logo {
    font-size: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    padding: 2%;
    background-color: var(--color-bg-dark);

    position: absolute;
    top: 20%;
}

.logo img {
    height: 100%;
}

aside > :last-child {
    width: 100%;
    text-align: center;
    padding: 2%;

    position: absolute;
    bottom: 0%;
}

main {
    display: block;
    width: 65%;
}

main > div {
    padding: 3%;
}

main > :is(.intro, .account) {
    height: 35%;
    background-color: var(--color-bg-base);
}

main .intro {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main .intro > p {
    width: 80%;
}

main .intro > :is(p:first-child, p:last-child) {
    margin-top: 3%;
}

main .form-container {
    height: 30%;
}
